/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json
/.hugo_build.lock
.DS_Store
/temp_extraction/
/temp_content/
/temp_static/
/backup/
.venv/
/draftfiles/
/static/images_compressed/
/temp_notion/ 