{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
  {{- $now := now -}}
  {{- $nowUnix := $now.Unix -}}
  {{- $dateUnix := .Date.Unix -}}
  {{- $daySeconds := 86400 -}}
  {{- $diff := sub $nowUnix $dateUnix -}}
  {{- $diffDays := div $diff $daySeconds -}}
  
  {{- if lt $diffDays 1 -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>今天</span>" (.Date | time.Format "2006-01-02"))) -}}
  {{- else if lt $diffDays 2 -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>昨天</span>" (.Date | time.Format "2006-01-02"))) -}}
  {{- else if lt $diffDays 3 -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>前天</span>" (.Date | time.Format "2006-01-02"))) -}}
  {{- else -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "2006-01-02" site.Params.DateFormat)))) -}}
  {{- end -}}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d 分钟" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d 字" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}} 