{{- /* 提取图片优先级：cover.image > thumbnail > 文章中第一张图片 */ -}}
{{- $image := "" -}}
{{- with .Params.cover.image -}}
  {{- $image = . -}}
{{- else with .Params.thumbnail -}}
  {{- $image = . -}}
{{- else -}}
  {{- $matches := findRE `!\[.*?\]\((/[^)]+)\)` .RawContent 1 -}}
  {{- with $matches -}}
    {{- $image = replaceRE `!\[.*?\]\((/[^)]+)\)` "$1" (index . 0) -}}
  {{- end -}}
{{- end -}}

{{- if $image -}}
<meta name="twitter:card" content="summary_large_image" />
{{- else -}}
<meta name="twitter:card" content="summary"/>
{{- end -}}
{{- with (or .Params.author site.Params.author.name) }}
<meta name="twitter:creator" content="{{ . }}"/>
{{ end -}}
{{- with .Title | default site.Title }}
<meta name="twitter:title" content="{{ . }}" />
{{- end }}
{{- with .Description | default .Summary | default site.Params.description }}
<meta name="twitter:description" content="{{ . }}" />
{{- end -}}
{{- with $image -}}
<meta name="twitter:image" content="{{ (. | absURL) | default " " }}"/>
{{ end -}} 