{{- define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>随思录</h1>
  <div class="post-description">
    记录那些没用的念想。
  </div>
</header>

{{- $pages := where .RegularPages "Type" "thoughts" }}
{{- $paginator := .Paginate $pages 10 }}

<div class="posts thoughts-list">
  {{- range $index, $page := $paginator.Pages }}
  {{- partial "thought_card.html" . -}}
  {{- end }}
</div>

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer" id="load-more-container">
  <button id="load-more" class="next" data-total-posts="{{ len $pages }}">
    查看更多
  </button>
</footer>
{{- end }}

{{- end }}{{- /* end main */ -}}
