{{- define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>随思录</h1>
  <div class="post-description">
    记录那些没用的念想。
  </div>
</header>

{{- $pages := where .RegularPages "Type" "thoughts" }}
{{- $paginator := .Paginate $pages 10 }}

<div class="posts thoughts-list">
  {{- range $index, $page := $paginator.Pages }}
  <article class="post-entry thought-entry">
    <header class="entry-header">
    </header>
    <div class="entry-content">
      {{ $cleanedContent := .RawContent | replaceRE "{{< link .*? >}}" "" }}
      {{ $summary := $cleanedContent | plainify | htmlUnescape | truncate 200 }}
      <p>{{ $summary }}{{ if gt (len ($cleanedContent | plainify | htmlUnescape)) 200 }}...{{ end }}</p>
    </div>
    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">
      {{- $scratch := newScratch }}
      {{- if not .Date.IsZero -}}
        {{- $dateStr := .Date | time.Format "2006-01-02" -}}
        {{- $scratch.Add "meta" (slice (printf "<span class='post-date' data-date='%s' title='%s'>%s</span>" $dateStr $dateStr $dateStr)) -}}
      {{- end }}
      
      {{- with ($scratch.Get "meta") }}
      <span class="meta-item">
        {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
      </span>
      {{- end }}

      {{- if .Params.tags }}
      <span class="meta-item thought-tags-list" style="float: right;">
          {{- range $i, $tag := .Params.tags -}}
            {{- if $i -}}&nbsp;{{- end -}}
            <a href="{{ (urlize $tag) | absLangURL | printf "/tags/%s" }}" class="thought-tag">{{ $tag }}</a>
          {{- end -}}
      </span>
      {{- end }}
    </footer>
    {{- end }}
    <a class="entry-link" aria-label="thought link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}
</div>

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer" id="load-more-container">
  <button id="load-more" class="next" data-total-posts="{{ len $pages }}">
    查看更多
  </button>
</footer>
{{- end }}

{{- end }}{{- /* end main */ -}}
