{{- $url := .Get 0 -}}
{{- $title := .Get 1 | default $url -}}
{{- $description := .Get 2 -}}
<div class="bookmark-container">
  <a class="bookmark-link" href="{{ $url }}" target="_blank" rel="noopener noreferrer">
    <div class="bookmark-content">
      <div class="bookmark-title">{{ $title }}</div>
      {{- if $description -}}
      <div class="bookmark-description">{{ $description }}</div>
      {{- end -}}
      <div class="bookmark-url">{{ $url }}</div>
    </div>
    <div class="bookmark-icon">
      <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="24" width="24">
        <path d="M10 13a5 5 0 007.54.54l3-3a5 5 0 00-7.07-7.07l-1.72 1.71"></path>
        <path d="M14 11a5 5 0 00-7.54-.54l-3 3a5 5 0 007.07 7.07l1.72-1.71"></path>
      </svg>
    </div>
  </a>
</div> 